<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LodgeFullName" value="" />
    <add key ="LodgeAbbreviatedName" value="" />
    <add key="TotalMeetingCount" value="" />
    <add key="RegularMeetingCount" value="" />
    <add key="SpecialMeetingCount" value="" />
    <add key="LodgeLogo" value="" />
    <add key="WorshipfulMaster" value="" />
    <add key="SeniorWarden" value="" />
    <add key="JuniorWarden" value="" />
    <add key="UsualLodgeMeetingLocations" value="" />
    <add key="NumberOfMeetingsPerMonth" value="" />
    <add key="NumberOfDarkMonths" value="" />
    <add key="NumberOfRegularMeetingsPerYear" value="" />
    <add key="MonthsDark" value="" />
    <add key="TimeFormat" value="12" />
    <add key="OfficerInstallationMonth" value="December" />
    <add key="RememberedMinuteDates" value="" />
    <add key="ReoutputLastMinutes" value="true" />
    <add key="ReopenLastMinutes" value="true" />
    <add key="NewMeetingMinutes" value="" />
    <add key="TimerSaveIncrement" value="30"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>