<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LodgeFullName" value="Bonneville Lodge #31" />
    <add key="LodgeAbbreviatedName" value="BL" />
    <add key="TotalMeetingCount" value="10" />
    <add key="RegularMeetingCount" value="10" />
    <add key="SpecialMeetingCount" value="10" />
    <add key="LodgeLogo" value="" />
    <add key="WorshipfulMaster" value="Justin LeCheminant" />
    <add key="SeniorWarden" value="Justin LeCheminant" />
    <add key="JuniorWarden" value="Justin LeCheminant" />
    <add key="UsualLodgeMeetingLocations" value="One,Two" />
    <add key="NumberOfMeetingsPerMonth" value="1" />
    <add key="NumberOfDarkMonths" value="2" />
    <add key="NumberOfRegularMeetingsPerYear" value="10" />
    <add key="MonthsDark" value="August,September" />
    <add key="TimeFormat" value="true" />
    <add key="OfficerInstallationMonth" value="11" />
    <add key="RememberedMinuteDates" value="true" />
    <add key="ReoutputLastMinutes" value="false" />
    <add key="ReopenLastMinutes" value="true" />
    <add key="NewMeetingMinutes" value="" />
    <add key="TimerSaveIncrement" value="30" />
    <add key="SavedWordFilesDirectory" value="Word" />
    <add key="SavedMinutesDirectory" value="Minutes" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>